.reply-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.reply-message {
  font-size: 0.8rem;
  margin-right: 10px;
}

.reply-user {
  font-weight: bold;
  font-size: 0.8rem;
}
